# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**node_modules**
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

min-client/data/settings.json
min-client/index.html
min-client/q1Help.html
min-client/q1Autosuggest.html
min-client/q1Popup.html
min-client/q1Interpreter.html
min-client/q1ActionsBar.html

package-lock.json
yarn.lock

csharp/Src_Step/.vs
csharp/Src_Step/Step/bin
csharp/Src_Step/Step/obj
