.createOperationPage {
  flex-direction: column;
  padding-top: 50px;
  background-color: white;
  animation: page-appear 0.2s;

  &-inputWrapper {
    padding: 20px;
  }
  &-dropZone {
    position: relative;
    flex: 1;
    background-color: papayawhip;
  }
  & > textarea {
    height: 300px;
  }
}
