.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 66px;
  height: 32px;
}

.toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleSwitch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ededed;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 6px;
  box-shadow: 0px 0px 16px 0px rgba(85, 90, 98, 0.1);
}

.toggleSwitch-slider:before {
  position: absolute;
  content: '';
  height: 32px;
  width: 32px;
  top: 0;
  left: 0;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 6px;
}

input:checked + .toggleSwitch-slider:before {
  background-color: #6cd4bb;
}

input:checked + .toggleSwitch-slider:before {
  transform: translateX(34px);
}
